* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right bottom, #2b5876, #4e4376);
  color: white;
  min-height: 100vh;
  font-family: "Permanent Marker", cursive;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  padding: 0.75em;
}

form {
  display: flex;
  justify-content: center;

  input,
  button, select {
    font-size: 1.5rem;
    padding: 0.3em;
    background-color: white;
    border: none;
    outline: none;
  }

  button {
    color: #2b5876;
    cursor: pointer;
    margin-right: 0.5em;
    // transition: all 0.3s ease;
    &:hover {
      background-color: #2b5876;
      color: #fff;
    }
  }
}

.todo-container {
  display: flex;
  justify-content: center;
  margin: 1.5em;

  li {
    // list-style: none;
  }

  .todo-item {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    margin-bottom: 0.5em;
    margin-right: 1em;

    ul {
      margin: 5em;
    }

    li {
      list-style: none;

      // background-color: #2f2f2f;
      text-align: left;
      width: 20vw;
      height: 5vh;
      // font-size: 2rem;
      color: #2f2f2f;
      // width: 20vw;
      // height: 7vh;
      margin-right: 5em;
    }
    button {
      // background: #;
      color: white;
      border: none;
      padding: 1em;
      cursor: pointer;
      // font-size: 1rem;
      &.complete-btn {
        background-color: green;
      }
      &.trash-btn {
        background-color: red;
      }
    }
  }
}