* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #2b5876, #4e4376);
  min-height: 100vh;
  // background-color: green;
}

.App {
  // display: flex;
  // justify-content: center;
  // background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 75vw;
}

h1 {
  // display: flex;
  // justify-content: center;
  font-size: 4rem;
  padding: 0.75em;
  font-family: "Limelight", cursive;
}

form {
  display: flex;

  input {
    border: none;
    padding: 1.3em;
    outline: none;
    width: 50vw;
    font-size: 1rem;
  }
  
  button {
    background-color: #fff;
    border: none;
    padding: 1.3em;
  }
  
  select {
    font-size: 1rem;
    padding: 1.3em;
  }

  button {
    color: #2b5876;
    cursor: pointer;
    margin-right: 0.5em;

    &:hover {
      background-color: #2b5876;
      color: #fff;
    }
  }
}

.todo-input {
  // height:
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 3em;
  width: 70vw;

  .todo-item {
    display: flex;
    // justify-content: flex-end;
    // align-items: center;
    background-color: #fff;
    margin-bottom: 0.5em;
    height: 3.5em;
    width: 100%;

    // overflow: scroll;
    .todo-text {
      width: 90%;
      color: black;
      margin-right: auto;
      height: 100%;
      overflow: auto;
      overflow-wrap: break-word;
      // background: red;
      padding: 1em;
      // font-weight: bold;
      // background-color: red;

      .todo-edit-input {
        background-color: transparent;
        // background-color: red;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
      }
    }

    .todo-text::-webkit-scrollbar {
      width: 8px;
    }

    .todo-text::-webkit-scrollbar-track {
      background: #7e7e7e;
    }

    .todo-text::-webkit-scrollbar-thumb {
      background: #6549b7;
      border-radius: 10px;
    }

    .completed {
      background-color: #b1b1b1;
      color: #000;

      input {  
        text-decoration: line-through;
      }
    }

    .undo {
      background-color: orange;
    }

    button {
      color: white;
      border: none;
      padding: 1em;
      cursor: pointer;
      height: 100%;
      width: 80px;
      // wid
      &.check-btn {
        // background-color: green;
        background-color: #18a558;
      }
      &.undo-btn {
        background-color: #ff9636;
      }
      &.remove-btn {
        background-color: #f83839;
      }
    }
  }
}

// /*CUSTOM SELECTOR */
// select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -ms-appearance: none;
//   appearance: none;
//   outline: 0;
//   box-shadow: none;
//   border: 0 !important;
//   background-image: none;
// }

// /* Custom Select */
// .select {
//   margin: 1rem;
//   position: relative;
//   overflow: hidden;
// }
// select {
//   color: #ff6f47;
//   font-family: "Poppins", sans-serif;
//   cursor: pointer;
//   width: 12rem;
// }
// /* Arrow */
// .select::after {
//   content: "\25BC";
//   position: absolute;
//   top: 0;
//   right: 0;
//   padding: 1rem;
//   background: #ff6f47;
//   cursor: pointer;
//   pointer-events: none;
// }
